# Created by bundle gem [NAME]

### Bundler ###
lib
pkg
vendor
Gemfile
Rakefile
angular-ujs.gemspec
### Bundler End ###

# Created by http://gitignore.io

### Node ###
lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results

npm-debug.log
node_modules
### Node End ###

# Manually Created

### Bower ###
bower_components
bower.json
### Bower End ###

### gulp ###
example
src
test
tmp
.travis.yml
gulpfile.ls
angular-ujs.min.js
### gulp end ###